// --------------------------------------------- //
// ------------------- MAIN NAV ---------------- //
// --------------------------------------------- //
$max-width: 256px;

.main__navigation__home{
     width: 17%;
    min-width: $max-width;
    background-color: $fire-engine-red;
    overflow: hidden;
    display: block;
    float: left;
    position: fixed;
    z-index: 2;
    height: 100% ;  
}
    
// ----- MAIN LOGO ----- //
.main__logo{
    img{
        width: 100%;
    } 
}
        
// ----- GENERAL MAIN NAVIGATION ----- //

.main__navigation__module{
    width: 100%;
    padding-left: 28px;
    margin-top: 40px;
    margin-bottom: 60px;   
}
.icon__list{
    text-transform: uppercase;
    position: relative;
    padding-left: 42px;
    line-height: 29px;
    margin-bottom: 13px;
    &:last-child{
        margin-bottom: 0;
    }   
}
.generic__link__icon{
    color: $sea-pink;
    font-weight: bold;
    font-size: 11px; 
    line-height: 29px;
    &:hover{
        color: $yellow;
        &:before{
            background-position: bottom;
        }
    }
    &:before{
        content: '';
        width: 36px;
        height: 29px;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background-position: top;
        background-repeat: no-repeat; 
    }
}
                
.active{
    color: $yellow;
    cursor: default;
    &:before{
        background-position: bottom;
    }
}
        
// ----- SPECIFIC MAIN NAVIGATION ----- //
.icon__list__home{
    &:before{
        background-image: url("../img/navigation/home-icon.png");
    }
}
        
.icon__list__unica{
    &:before{
        background-image: url("../img/navigation/unica-icon.png");
    }
}
        
.icon__list__traductor{
    &:before{
        background-image: url("../img/navigation/traductor-icon.png");
    }
}
        
.icon__list__redes{
    &:before{
        background-image: url("../img/navigation/redes-icon.png");
    }  
}
        
.icon__list__campana{
    &:before{
        background-image: url("../img/navigation/campana-icon.png");  
    }
}
        
.icon__list__blog{
    &:before{
        background-image: url("../img/navigation/blog-icon.png");
    }
}
    
        
// ----- MAIN REGISTRATION LOGIN ----- //
.main__registration__text{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 45px;
}
    
.main__text__small{
    font-size: 11px;
    color: $white;
    text-align: center;
    line-height: 16px;
    margin-bottom: 14px;
    width: 148px;
    margin-left: auto;
    margin-right: auto;
}
    
.largest__small__text{
    font-size: 12px;
    font-weight: bold;
}
    
.main__cta__register{
    width: 164px;
    height: 37px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
    
.icon__cta__register{
    background-image: url("../img/navigation/register-now.png");
    width: 164px;
    height: 37px;
    color: $dark-gray;
    display: block;
    padding-top: 15px;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    &:hover{
        text-decoration: underline;
    }
}
.main__cta__login{
    width: 148px;
    color: $white;
    font-size: 11px;
    text-align: center;
    margin-top: 14px;
    margin-left: auto;
    margin-right: auto;
    .link__login{
        color: $white;
        text-decoration: underline;
        &:hover{
            color: $yellow;
        }
    }
}
            
// ----- MAIN SOCIAL SECTION ----- //

.main__social__section{
    width: 70%;
    display: flex;
    overflow: hidden;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 17px;
    border-bottom: 1px solid $white;
}
    

.social__list__link{
    text-indent: -9999px;
    width: 33px;
    height: 28px;
    float: left;
    background-repeat: no-repeat;
}
    
.social__list__facebook{
     background-image: url("../img/navigation/facebook-social.png");
}
    
.social__list__twitter{
    background-image: url("../img/navigation/twitter-social.png");
}
    
.social__list__instagram{
    background-image: url("../img/navigation/instagram-social.png");
}
    
.social__list__youtube{
    background-image: url("../img/navigation/youtube-social.png");
}
    
    
    