.main__footer {
  margin-top: 23px;
}
.main__fotter__legal {
  font-size: 9px;
  line-height: 12px;
  color: $white;
  text-align: center;
}
.main__footer__cta {
  font-size: 9px;
  text-align: center;
  color: $white;
  text-decoration: underline;
  display: block;
}
