//- -------------- CONTENT TRADUCTOR -------------- -//
//- ----------------------------------------- -//

section.principal__content
    .region.region__content
        section.titles__content__traductor
            .image__title__traductor
                +basicImage("../img/guaratraductor/guaratraductor-titulo.png", "Guaratraductor", "main__image__traductor__logo")
            .text__title__traductor
                h3 Traduce todo
                h4 Lo que quieras
                h5 Habla con tus amigos en códigos y loguea a los demas #[span.black__traductor !Traduce tus textos aquí¡]
        section.spanish__content__traductor
            
