//- -------------- Footer ---------------- -//
//- -------------------------------------- -//

footer.main__footer
    p.main__fotter__legal Guaraná Backus 2015. Todos los derechos reservados
    span.main__footer__legal
        +basicLink("Términos y condiciones", "#", "main__footer__cta", newTab)
                
