//- -------------- Header ---------------- -//
//- -------------------------------------- -//

- var upper = [{name: 'Home', url: '#'}, {name: 'Who we are', url: '#'}, {name: 'Our History', url: '#'}, {name: 'Contact Us', url: '#'}]

header.main__header
    nav.main__header__holder
        ul.main__header__nav
            - for page in upper
                li.main__header__item
                    mixin basicLink(page.name, page.url, 'main__header__link')
