//// ---------------------------------------- //
//// ------------ GENERIC CONTENTS ---------- //
//// ---------------------------------------- //
//
*{
    box-sizing: border-box;
}

h1, 
h2,
h3,
h4,
h5,
h6{
    font-size: 35px;
    font-family: $font-normal;
}

body{
    font-family: $font-normal;
} 
    
.block{
    display: block;
}

.global__indication{
    font-size: 16px;
}
    
    
.global__container{
    overflow: hidden;
    position: relative;
}
    
